<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>confirmation mail</title>
</head>
<style>

</style>
<body>
<h3>Hi this is the best auction </h3>
<a href="<% confirmationEmailLink %>">please click by link to accept email </a>
<p>if you haven't registered just skip</p>
<p>NOTICE:the link is valid for an hour</p>
</body>
</html>